<md-dialog  aria-label="Function change dialog" ng-cloak flex="65">
   <div class="dialog-header ">
            <h2 translate>DONNER UN AVIS</h2>
            
    </div>
    <div class="login" >
		<md-input-container>
		    <textarea name="bio" ng-model="messages" required md-maxlength="100">
		    
		    	
		    </textarea>
		  </md-input-container>
    </div>
	<md-button class=validate_dialog ng-click="validateComment(messages)">
		<span>valider</span>
	</md-button>
</md-dialog>