<div layout="row" class=" main_container">
   		<div flex="70">		
			<md-card class="">
				<md-card-content class="my_experience">
				    <div layout="row" style="margin-bottom: 60px">
					    <p class="little_presentation">
					    	<i><b>W</b>hat ever the mind of man can conveive and believe, the mind of man can achieve.</i><br>
					    	 Pendant que vous &ecirc;tes sur ce site, prenez un instant pour faire l'exp&eacute;rience avec moi,<br>
					    	 concentrez-vous, et &eacute;coutez-vous relire cette phrase :
					    	 <br> Tout ce que l'imagination de l'homme peut concevoir et croire, il peut le r&eacute;aliser.
					    	 <br>
					    	 Qu'avez-vous ressenti en faisant cette petite exp&eacute;rience,<br>
					    	 avez-vous entendu votre voix apporter ces paroles,<br>
							 &agrave; chaque cellule de v&ocirc;tre corps,<br>
					    	comment votre corps r&eacute;agit-il au son de votre voix ? 
					    </p>
				    </div>
					 <div style="margin-top: 30px">   
					    <div  layout="row" >
					    	<i class="comment-label">Laissez un commentare ici</i>
					    </div>
				    
					    <div  layout="row" >
					    	<div flex="50" class="">
						    	<md-input-container class="vistor-comment-container">
									<textarea class="visitor_comment" maxlength="150">
										
									</textarea>
		                         </md-input-container>
	                         </div>
<!-- 	                         <div flex="50"> -->
<!-- 	                         	<img alt="" src="img/looking_forwards.png"> -->
<!-- 	                         </div> -->
					    </div>
				    </div>
				    
				  </md-card-content>
				</md-card>
		</div>
</div>