<div layout="row" class=" main_container">
	<div flex="30">
		<div layout="row" flex="100">
			<md-card  flex="100" layout="row"  layout-align="space-around center" class="mission-detail-left">
				<i><span style="color: blue; font-size: 12px" translate>missions.missionDetail.companySite</span></i>
			</md-card>
		</div>
		<md-card  flex="100"  layout="column"  class="mission-detail-left-2">
			<div class="mission-detail-left-in"><span layout="row"  layout-align="center center"  flex="100">Situation professionelle</span></div>
			<div class="job_position">
				<div layout="row"  layout-align="space-around center" >
						<div flex="10">	
							<img ng-src="img/coding.png" class="work_position" alt="{{todos[0].who}}" />
						</div>
						<div flex="90">
							<span layout="row" style="color: #000;" flex="100">En poste</span>
						</div>
				</div>
				<div layout="row"  layout-align="space-around center" >
						<div flex="10">	
							<img ng-src="img/opportune.jpg" class="work_position" alt="{{todos[0].who}}" />
						</div>
						<div flex="90">
							<span layout="row" style="color: #000;" flex="100">Ouvert aux opportunit&eacute;s</span>
						</div>
				</div>
			</div>
		</md-card>
		<md-card  flex="100"  layout="column"  class="mission-detail-left-2">
			<div class="mission-detail-left-in"><span layout="column" layout-align="center center"  flex="100">Technologies</span></div>
			<div layout="row" class="job_position">
				<div flex="25" layout="row"  layout-align="center" >
						<img ng-src="img/angularjs.png" class="techno_icon" alt="{{todos[0].who}}" />
				</div>
				<div flex="25" layout="row"  layout-align="center" >
						<img ng-src="img/angularjs.png" class="techno_icon" alt="{{todos[0].who}}" />
				</div>
				<div flex="25" layout="row"  layout-align="center" >
						<img ng-src="img/angularjs.png" class="techno_icon" alt="{{todos[0].who}}" />
				</div>
				<div flex="25" layout="row"  layout-align="center" >
						<img ng-src="img/angularjs.png" class="techno_icon" alt="{{todos[0].who}}" />
				</div>
				
			</div>
			<div layout="row" class="job_position">
				<div flex="25" layout="row"  layout-align="center" >
						<img ng-src="img/angularjs.png" class="techno_icon" alt="{{todos[0].who}}" />
				</div>
				<div flex="25" layout="row"  layout-align="center" >
						<img ng-src="img/angularjs.png" class="techno_icon" alt="{{todos[0].who}}" />
				</div>
				<div flex="25" layout="row"  layout-align="center" >
						<img ng-src="img/angularjs.png" class="techno_icon" alt="{{todos[0].who}}" />
				</div>
				<div flex="25" layout="row"  layout-align="center" >
						<img ng-src="img/angularjs.png" class="techno_icon" alt="{{todos[0].who}}" />
				</div>
				
			</div>
		</md-card>
		<img alt="" src="">
		<div layout="row" flex="100">
			<md-card  id="my_phone_class" flex="100" layout="row" layout-align=" center">
				<ul class="ul_phone">
					<li  class="techno_icon_li" ng-click="getPhoneNumber()"><img ng-src="img/phone.jpg"  class="techno_icon" alt="{{todos[0].who}}" /></li>
					<li  class="techno_icon_li2"  id="techno_icon_li2" 	 hidden>
						<div class="class_phone_shown">
							<b>06 42 15 18 19</b>
						</div>
					</li>
				</ul>
			</md-card>
		</div>
	</div>
	<div flex="70" >
		<div style="padding-left: 16px;padding-top: 7px;">
			D&eacute;veloppement d'applications web AngularJS/Play! et J2EE
		</div>
		<div class="container_mission_sub">	
			<p>
			Advanced Business Ware
			Octobre 2015 &agrave; juin 2017
			</p>
		</div>
		<div class="container_mission">	
			<div class="mission_sub_title">	
				<b >Missions effectu&eacute;es</b> 
			</div>
			<p>
			Maintenance corrective et &eacute;volutive sur une app web CRM existante en J2EE
			D&eacute;veloppement en m&eacute;thode Agile (Scrum) d'une application web en AngularJS et Play!
			Prise de lead technique c&ocirc;t&eacute; Front AngularJS
			Propositions ergonomie/design
			Int&eacute;gration continue avec Jenkins et Sonar
			Suivi de recette et d&eacute;ploiement en production
			</p>
			<div class="mission_sub_title">
				<b class="mission_sub_title">D&eacute;tails de l'exp&eacute;rience</b> 
			</div>
			
			<ul>
				<li>
					Cette mission &eacute;t&eacute; effectu&eacute;e en tant que consultant pour la soci&eacute;t&eacute; Davidson
				</li>
				<li>
					Dans premier temps j'ai fait de la maintenant &eacute;volutive et corrective sur une application web en J2EE. Il s'agissait d'un CRM-ERP utilisant notamment Struts et Hibernate. La technologie de base de donn&eacute;e &eacute;tait DB2. J'&eacute;tais d'abord seul pendant 2-3 mois puis d'autres consultants m'ont rejoint.
				</li>
				Avec ces m&ecirc;mes personnes nous avons ensuite travaill&eacute; sur une application web de gestion d'objet connect&eacute;.
				Pour ce second projet, le framework backend Play! (java) nous a &eacute;t&eacute; impos&eacute;, ainsi que la technologie de base de donn&eacute;e PostgreSQL.
				Ayant d&eacute;j&agrave; travaill&eacute; avec AngularJS par le pass&eacute; j'ai propos&eacute; ce framework pour le c&ocirc;t&eacute; client et nous sommes alors parti dessus. J'ai alors naturellement pris le lead technique c&ocirc;t&eacute; AngularJS
				Malgr&eacute; mon penchant pour le Front End, j'ai particip&eacute; &agrave; tous les aspects du projet : Architecture de la base de donn&eacute;es, cr&eacute;ation de Web Service, s&eacute;curisation des donn&eacute;es, UI/UX, ...
				Pour le d&eacute;veloppement nous avons suivi la m&eacute;thode Agile Scrum
				Le code &eacute;tait versionn&eacute; sous Git, et nous utilisions Jenkins et Sonar pour l'int&eacute;gration continue
				Pour am&eacute;liorer la qualit&eacute; du code j'ai initi&eacute; mes coll&egrave;gues &agrave; Postman pour faire des tests d'int&eacute;gration et &agrave; Karma/Jasmine pour faire des tests unitaires sur Angular
			</ul>
		</div>
	</div>
</div>