
		
		
<!-- 		<md-toolbar style="background: #000;color:#fff" class=" inner__nav site-content-toolbar _md _md-toolbar-transitions"> -->

<!-- 	      <div layout="row" class="md-toolbar-tools  docs-toolbar-tools" > -->
<!-- 		        <div  flex="20" style="text-align: right;"> -->
<!-- 			   	 	<div flex="20"></div>  -->
<!-- 			   	 	<div layout="row" layout-align="center center"> -->
<!-- 						<img ng-click="gotoHome()" src="img/onlinelogomaker-091817-0002-6247.png"  class="tx_logo hide-md hide-sm ng-binding" style="height: 64px;"> -->
<!-- 		   	 		</div>   -->
<!-- 	  			</div> -->
<!-- 		  		<div flex="45" > -->
		  			
<!-- <!-- 		  			<md-nav-bar   -Z-> -->
<!-- <!-- 				      md-no-ink-bar="disableInkBar" --> -->
<!-- <!-- 				      md-selected-nav-item="currentNavItem" --> -->
<!-- <!-- 				      nav-bar-aria-label="navigation links"> --> -->
<!-- <!-- 						<md-nav-item md-nav-click="getMissionSection()" name="missions"> --> -->
<!-- <!-- 					        Missions --> -->
<!-- <!-- 					      </md-nav-item> --> -->
<!-- <!-- 					      <md-nav-item md-nav-click="toCompetences()" name="competences"> --> -->
<!-- <!-- 					        Compétences techniques --> -->
<!-- <!-- 					      </md-nav-item> --> -->
<!-- <!-- 					      <md-nav-item md-nav-click="gotoMyCv()" name="experiences"> --> -->
<!-- <!-- 					        ExpériencesZ & Formations --> -->
<!-- <!-- 					      </md-nav-item> --> -->
<!-- <!-- 					      <md-nav-item  name="experiences"> md-nav-click="gotoMyCv()"   -->
<!-- <!-- 					        ExpériencesZ & Formations   -->
<!-- <!-- 					      </md-nav-item>   -->
<!-- <!-- 					      <md-nav-item md-nav-click="contact()" name="contact"> --> -->
<!-- <!-- 					        CONTACT --> -->
<!-- <!-- 					      </md-nav-item> --> -->
<!-- <!-- 				    </md-nav-bar> --> -->
<!-- 		  		</div> -->
<!-- 	      </div> -->
	
<!-- 	    </md-toolbar> -->