
<md-dialog aria-label="Function change dialog" ng-cloak flex="65">
    <div class="dialog-header ">
            <h2 translate>UN PEU DE MOI</h2>
    </div>
    <div class="dialog-description">
	    <md-card-content>
			  <p class="little_presentation">
<!-- 			    	C'est en 2004 que j'obtient mon baccalaur&eacute;at S, tr&egrave;s vite j'ai enchain&eacute; des petits boulots, -->
<!-- 		     		c'est ainsi que j'ai travaill&eacute; comme technicien de surface, ma&ccedil;on, plongeur dans un restaurant, agent de s&eacute;curit&eacute;.<br> -->
<!-- 				    En 2008, alors que je me rendait &agrave; mon lieu de travail &agrave; Saint-tropez dans le Sud-Est de la France, o&ugrave; je travaillais  -->
<!-- 				    comme agent de  s&eacute;curit&eacute;, l&agrave;, sur la route, j'ai le d&eacute;clique... -->
			    	
			    	Je m'entendais rep&eacute;ter tout bas, quelque part dans un coin de ma t&ecirc;te, les paroles de Napol&eacute;on Hill.
			    	Ces paroles, je les sentais parcourrir, comme une onde &eacute;lectromagn&eacute;tique chaque portion de mon corps.
			    	Dans mes veines je m'entendais, dans mon ventre je resentais la vibration du son de ma voix, mon coeur battait si fort que 
			    	je pouvais l'entendre, comme un tambour au loin, donner du rythme &agrave; ces paroles...
			    
			    </p>
		</md-card-content>
	</div>
	<div class="button__dialog" layout="row" style="padding: 19px 0px 9px 0px">
         <div flex></div>
<!--          <md-button class="md-warn" ng-click="cancel()"><span -->
<!--                  >deviceForm.pictureModal.buttons.cancel</span></md-button> -->
         
         <md-button class="continue_dialog"  ng-click="validate(true)"><span
	                  >Continuer</span></md-button>
       	<md-button class=validate_dialog ng-click="validate(false)">
       		<span>Mon CV</span>
       	</md-button>
     </div>
</md-dialog>