
<md-dialog aria-label="Function change dialog" ng-cloak flex="65">
    <div class="dialog-header ">
            <h2 translate>CONTACT</h2>
    </div>
    <div class="dialog-description">
	    <md-card-content>
	    <label><b>Email 1</b> : </label>&nbsp;ulrich.ossene@uossene.com<br>
	    <label><b>Email 2</b> : </label>&nbsp;ulrich.ossene@gmail.com<br>
	    <label><b>T&eacute;l&eacute;phone</b> : </label>&nbsp;0647794388
<!-- 			  <p class="little_presentation"> -->
<!-- 			    	Je m'entendais rep&eacute;ter tous bas, quelque part dans un coin de ma t&ecirc;te les paroles de Napol&eacute;on Hill. -->
<!-- 			    	Ces paroles, je les sentais parcourrir comme une onde &eacute;lectromagn&eacute;tique chaque portion de mon corps. -->
<!-- 			    	Dans mes veines je m'entendais, dans mon ventre je resentait la vibration du son de ma voix, mon coeur battait si fort que  -->
<!-- 			    	je pouvait l'entendre comme un tambour au loin donner du rythme &agrave; ces paroles... -->
<!-- 			    </p> -->
		</md-card-content>
	</div>
	<div class="button__dialog" layout="row" style="padding: 19px 0px 9px 0px">
         <div flex></div>
         
<!--          <md-button class="continue_dialog"  ng-click="validate(true)"><span -->
<!-- 	                  >Continuer</span></md-button> -->
<!--        	<md-button class=validate_dialog ng-click="validate(false)"> -->
<!--        		<span>Mon CV</span> -->
<!--        	</md-button> -->
     </div>
</md-dialog>